body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #312019;
  font-size: 80%;
}

a, a:hover {
  color: #312019;
}
h1, h2, h3 {
  font-weight: 300;
  color: #ffbf00;
}
h1 strong {
  font-weight: 700;
  color: white;
}

header {
  margin: 1em 0;
  padding: 1em 0;
  text-align: center;
}

header h3 {
  color: rgba(255, 255, 255, 0.2);
}

footer {
  margin: 1em 0;
  padding: 1em 0;
  font-size: 80%;
  color: #cccccc;
  text-align: center; }
  footer a, footer a:hover {
    color: #ffbf00;
    text-decoration: underline; }

pre {
  margin: 0;
}

ul {
  padding: 0
}

li {
  list-style: none;
  margin: 0 0 1em 0;
}

.red-class {
  color: #AD210E;
  font-weight: bold;
  font-size: 1.4em;
}
.red-class .hljs-keyword {
  color: #AD210E;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.intro {
  border-radius: 3px;
  background-color: white;
  padding: 1em;
  margin: 0 0 2em 0;
  color: #312019;
}

.intro h2 {
  margin-top: 0;
  color: #312019;
  font-size: 3em;
  margin-bottom: 0.2em;
}

.intro__block {
  margin: 0 0 3em 0;
}
.intro__block p {
  margin-top: 0
}

.code-tag {
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 0 0.2em;
  vertical-align: text-bottom;
  display: inline-block; }

.highlight-code-wrapper {
  background-color: white;
  margin: 1em 0 3em 0;
  padding: 1em;
  border: 1px solid #d0d0d0;
}
.highlight-code-wrapper.with-samuel {
  background-image: none;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.highlight-code-wrapper p {
  margin: 0;
}

.highlight-code {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 7;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em; }

.demo-zone__block {
  float: left;
  width: 100%;
  margin-bottom: 3em;
}
.demo-zone__block__inner  {
  overflow: hidden;
  max-height: 352px;
  border-bottom: 1px solid #312019;
}
.demo-zone__block__inner > div {
  position: relative;
  border: 1px solid #312019;
}

.demo-label {
  min-width: 20px;
  display: inline-block;
  border-radius: 20px;
  background-color: #312019;
  font-size: 0.9em;
  border: 1px solid #312019;
  color: white;
  padding: 0.3em;
  text-align: center;
}

.emoji {
  width: 20px;
  vertical-align: bottom;
}

.blue-parent {
  background-color: #21A5B8;
  border: 3px solid #21A5B8;
  padding: 2em;
  padding: 1em;
  margin: 100px 0 1em 0;
  text-align: center;
}

.blue-parent p {
  color: white;
  margin: 0 0 0.5em 0;
}

@media (min-width: 550px) {
  .highlight-code-wrapper.with-samuel  {
    background-image: url("../images/say-extend-again.png");
    left: 30%;
    display: block;
  }
}

@media (min-width: 768px) {
  .intro {
    padding: 3em;
  }

  .demo-zone__block {
    width: 48%;
    margin-bottom: 0;
  }

  .demo-zone__block--first {
    width: 50%;
    margin: 0 2% 0 0;
  }
  .highlight-code {
    background-color: transparent;
  }
}
.container-demo {
  color: #333333;
  background-color: white;
  border: 3px solid #d0d0d0;
  padding: 1em;
  margin: 1em 0; }
  .container-demo p:first-of-type {
    margin-top: 0; }
  .container-demo.is-selected {
    background-color: #21a5b8;
    border-color: #197e8d; }
    .container-demo.is-selected h3 {
      color: white; }
    .container-demo.is-selected p {
      color: white; }
    .container-demo.is-selected .code-tag {
      background-color: #197e8d;
      border-color: #197e8d;
      color: white; }
    .container-demo.is-selected .base-class, .container-demo.is-selected .base-class--in-red,
    .container-demo.is-selected .base-placeholder-class {
      color: white;
      background-color: #197e8d;
      border-color: #197e8d; }

.base-class, .base-class--in-red {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid #cccccc;
  color: #333333;
  line-height: 1.6; }

.base-class--in-red {
  background-color: #AD210E;
  color: white;
  border-color: #AD210E; }

.base-placeholder-class, .base-placeholder-class--in-red {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid #cccccc;
  color: #333333;
  line-height: 1.6; }

.base-placeholder-class--in-red {
  background-color: #AD210E;
  color: white;
  border-color: #AD210E; }
